# App Configuration
PORT=3000
DEBUG=true

# S3 Configuration
S3_BUCKET=icegate-food-images
S3_REGION=ap-southeast-2
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=s3.ap-southeast-2.amazonaws.com
S3_USE_SSL=true

# AI / API Keys
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
GEMINI_API_KEY=
USDA_API_KEY=

# Agent Configuration
FOOD_AGENT_URL=http://localhost:8001
